pysqlite3-binary
streamlit==1.39.0
deep_translator
llama-index>=0.9.31 
pinecone-client>=3.0.0
langchain-chroma
chromadb
groq 
protobuf
opentelemetry-exporter-otlp
langchain 
langchain-core 
langchain-groq 
pypdf
llama-index-llms-groq
llama-index-vector-stores-pinecone
llama-index-vector-stores-chroma
llama-index-embeddings-langchain
langchain-community
sentence-transformers
langchain-huggingface
llama-hub
nest-asyncio
